@import "tailwindcss";

html,
body {
  min-height: 100%;
  background: #000;
  color: #fff;
}

body {
  margin: 0;
}

.scrollbar-tema::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-tema::-webkit-scrollbar-track {
  background: #030712;
  border-radius: 9999px;
}

.scrollbar-tema::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 9999px;
}

.scrollbar-tema::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

.scrollbar-tema {
  scrollbar-width: thin;
  scrollbar-color: #1f2937 #030712;
}
